@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<!-- banner -->
<div class="w3ls-banner text-center">
    <div class="container">
        <h2 class="wthree-title">time to go digital</h2>
        <h3 class="wthree-subtitle">making a better world</h3>
    </div>
</div>
<!-- //banner -->

<div class="w3ls-banner text-center">
    <div class="container">
        <h2 class="wthree-title">time to go digital</h2>
        <h3 class="wthree-subtitle">making a better world</h3>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")">Home</a> > <span>About us</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="container">
    <div class="agile-terms w3ls-section">
        <section class="terms-of-use">
            <!-- terms -->
            <div class="terms">
                <h4 class="w3ls-inner-title">About R-DTH</h4>
                <p>R-DTH is a Direct to Home Entertainment Company which uses latest MPEG-4 technology to increase the broadcast capacity. The company is supported by Iredeto’s conditional access solution to manage content and revenues in satellite broadcasting venture. R-DTH is based on its convergent multi-service capabilities and proven real time scalability, introducing new services for the customer. R-DTH have earned it a prestigious place of being World’s third largest DTH company.</p>
                <p>Being the leader in DTH services, R-DTH has changed the face of Pakistani Television by making it possible for every customer to have access to premium quality digital entertainment. Enhancing the viewing experiencing, the tri-satellite technology that broadcasts Hi-Definition and Standard Definition signals, R-DTH has taken the standards of television to incredible heights.</p>
                <p>Adding to the world class TV viewing experience, R-DTH gives freedom to its customers to select channels of their choice, customize their own entertainment packages and pay just for the same. As a plethora of channel packs are accessible, the customers have the free hand to build their package to suit their taste and budget. Upping the entertainment quotient, R-DTH also provides its customers with features like radio channels, electronic program guide, parental lock, capacity for more than 500+ channels and movies on demand.</p>
                <p>R-DTH has pioneered a ‘Customers Satisfaction Bible’ which is constantly improved, modified and updated to achieve the objective of optimizing customer’s satisfaction. Consistent with such objective, every initiative and every technological innovation at R-DTH is driven with an effort to provide its customers the best possible services with a strict adherence to quality. Taking special care to ensure that all possible support is provided to the customers in the best and innovative manner, R-DTH is the brand that works with ‘Service with a Passion’ attitude.</p>

            </div>
        </section>
    </div>
</div>
