@model R_DTH.Models.customer_card_number

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>customer_card_number</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ccn_numbers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ccn_numbers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ccn_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
