@{
    ViewBag.Title = "FeedBack";
}

<div class="w3ls-banner contact-agileinfo">
    <div class="container">
        <h2 class="w3ls-title">Need help?</h2>
        <h3 class="w3-subtitle">we're here for you!</h3>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")">Home</a> > <span>FeedBack</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="w3l-main-contact">
    <div class="container">
        <div class="agileinfo-contact-main-address">
            <h4 class="w3ls-inner-title">help at hand</h4>
            <p>
                We aim to provide our customers with best possible services. In case you have any suggestion / feedback,
                we would be delightful to assist you at the earliest.
            </p>
            <div class="agileits-main-right">
                <p><span>*</span>Marked fields are mandatory.</p>
                <h5>Fill in your details</h5>
                <form action="#" method="post" class="agile_form">
                    <div class="clearfix"></div>
                    <div class="w3ls-text sec-right">
                        <label class="contact-form-w3ls">Name<span>*</span></label>
                        <input placeholder=" " name="first name" type="text" required="">
                    </div>
                    <div class="w3ls-text sec-right">
                        <label class="contact-form-w3ls">Mobile no.<span>*</span></label>
                        <input placeholder=" " name="first name" type="text" required="">
                    </div>
                    <div class="w3ls-text sec-right">
                        <label class="contact-form-w3ls">Email<span>*</span></label>
                        <input placeholder=" " name="first name" type="email" required="">
                    </div>
                    <div class="clearfix"></div>
                    <label class="contact-form-w3ls">What would you like us to assist you with?<span>*</span></label>
                    <textarea class="w3l_summary" required=""></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
